In [11]:
import pandas as pd
import random 
from string import ascii_uppercase

def random_string_generator(n, k):
    random_strings = []
    for _ in range(n):
        random_strings.append(''.join(random.choice(ascii_uppercase) for i in range(k)))
    return random_strings

def random_ints_generator(n, max_val=1000):
    return [int(max_val*random.random())+1 for i in range(n)]

N_TRAIN = 1000
data = pd.DataFrame(columns=['image_filepath','mask_filepath','width','height','image_id'])
data['image_filepath'] = random_string_generator(N_TRAIN, 10)
data['mask_filepath'] = random_string_generator(N_TRAIN, 10)
data['width'] = random_ints_generator(N_TRAIN, 100)
data['height'] = random_ints_generator(N_TRAIN, 100)
data['image_id'] = random_ints_generator(N_TRAIN, 10000)
display(data.head())
data.to_csv('/mnt/ml-team/dsb_2018/kuba/mocked_data/metadata/train.csv',index=None)

N_TEST = 100
data = pd.DataFrame(columns=['image_filepath','width','height','image_id'])
data['image_filepath'] = random_string_generator(N_TEST, 10)
data['width'] = random_ints_generator(N_TEST, 100)
data['height'] = random_ints_generator(N_TEST, 100)
data['image_id'] = random_ints_generator(N_TEST, 10000)
display(data.head())
data.to_csv('/mnt/ml-team/dsb_2018/kuba/mocked_data/metadata/test.csv',index=None)

  image_filepath mask_filepath  width  height  image_id
0     ESADNOVXEX    QSYGXRNYLU     53      17       305
1     VIPWMREFHS    YZLZHORRZI     99      32      6406
2     AIRJNBRAQM    IKZFIJSTKI     36      61       143
3     GALCLHZWJT    IYONFKVKTN     99      14       712
4     RPLSFCYAZW    UJGWFDXUWC     32      67      7204

  image_filepath  width  height  image_id
0     MBFKXFHBNP     16      60      5665
1     UQNCSTCLZA     34      40      1824
2     DHKTGXGMMH     92      80      6960
3     NJYSHDGIUI     44      77      2486
4     TSTYJWJBMI     32      47      1660

In [10]:
data.describe()

            width      height     image_id
count  100.000000  100.000000   100.000000
mean    51.950000   47.960000  5194.110000
std     29.285559   28.815302  2725.608982
min      1.000000    1.000000    89.000000
25%     24.750000   23.500000  2471.000000
50%     49.500000   49.000000  5599.000000
75%     81.250000   72.500000  7314.500000
max    100.000000   98.000000  9842.000000